<div class="my-3">
    <form (ngSubmit)="onSubmit()">
        <div class="form-group mb-2">
            <label for="title">Todo Title: </label>
            <input type="text" class="form-control" name="title" id="title" placeholder="Title"
                [(ngModel)]="title">
        </div>
        <div class="form-group mb-2">
            <label for="desc">Todo Description: </label>
            <input type="text" class="form-control" name="desc" id="desc" placeholder="Description"
                [(ngModel)]="desc">
        </div>
        <button type="submit" class="btn btn-sm btn-primary">Add Todo</button>
    </form>
</div>

<!-- <div class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Add Todo</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary">Save changes</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div> -->